.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.top {
  /* position: fixed; */
  /* display: flex; */
  height: 15vh;
  width: 100vw;
}

.content {
  display: flex;
  width: 100vw;
  height: 85vh;
  /* flex-grow: 1; */
  flex-direction: row;
}

.side {
  width: 20vw;
}

.generalcontainer {
  flex-grow: 1;
  height: 100%;
}