body {
  background-color: #f8f9ff;
  margin: 20px 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #850d0d;
}

h2 {
  margin-top: 0;
  font-size: 26px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.map-tooltip {
  width: 320px;
  white-space: normal;
}

.map-tooltip p {
  margin: 0;
}

.map-tooltip .summary {
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.15;
}

#word-cloud text:hover {
  cursor: pointer;
}
